-Dmaven.wagon.httpconnectionManager.ttlSeconds=120
-Dmaven.wagon.http.retryHandler.requestSentEnabled=true
-Dmaven.wagon.http.retryHandler.count=10
-ntp
# timefold-solver-service-parent configures maven plugins required for Timefold models, but failing the build
# of that module itself. This way, we disable the plugin execution, while it remains active by default for models.
-Dai.timefold.sdk.model.processing.disabled