version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
      time: '05:00' # Otherwise it picks a random time.
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps: "
    labels: ["dependencies"] # Don't use any other labels.
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      time: '05:00' # Otherwise it picks a random time.
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps: "
    labels: ["dependencies"] # Don't use any other labels.
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: weekly
      time: '05:00'
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps: "
    labels: ["dependencies"] # Don't use any other labels.
