version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
      time: '01:00' # Otherwise it picks a random time.
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps: "
    labels: ["dependencies"] # Don't use any other labels.
    groups:
      # We want to control these upgrades separately.
      # They've introduced changes in the past which required manual intervention.
      quarkus:
        patterns:
          - "io.quarkus:*"
      spring:
        patterns:
          - "org.springframework.boot:*"
      openrewrite:
        patterns:
          - "org.openrewrite.maven:*"
          - "org.openrewrite.recipe:*"
      # Everything else can be grouped together to minimize the number of PRs.
      # If any dependency ever breaks our code, it will be upgrouped.
      regular:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      time: '01:00' # Otherwise it picks a random time.
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps: "
    labels: ["dependencies"] # Don't use any other labels.
    groups:
      # Everything can be grouped together to minimize the number of PRs.
      # If any dependency ever breaks our code, it will be upgrouped.
      regular:
        patterns:
          - "*"