<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <appender name="pythonDelegateAppender" class="ai.timefold.solver.python.logging.PythonDelegateAppender"/>

  <logger name="ai.timefold" level="${logback.level.ai.timefold:-info}"/>

  <root level="warn">
    <appender-ref ref="pythonDelegateAppender" />
  </root>
</configuration>
