name: "Base Workflow"

env:
  NODE_OPTIONS: "--max_old_space_size=4096"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths-ignore:
      - 'LICENSE*'
      - '.gitignore'
      - '**.md'
      - '**.adoc'
      - '*.txt'

jobs:
  java:
    name: "Java Solver"
    concurrency:
      group: pull_request-${{ github.event_name }}-${{ github.head_ref }}-${{ matrix.os }}-${{ matrix.java-version }}
      cancel-in-progress: true
    runs-on: ${{matrix.os}}
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-24.04-arm, macos-latest, windows-latest ]
        java-version: [ 25 ] # Latest LTS if not Ubuntu
        include:
          - os: ubuntu-latest
            java-version: 17
          - os: ubuntu-24.04-arm
            java-version: 17
          - os: ubuntu-latest
            java-version: 21
          - os: ubuntu-24.04-arm
            java-version: 21
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: ${{matrix.java-version}}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and test timefold-solver
        run: ./mvnw -B verify

      - name: Test Summary
        uses: test-summary/action@2920bc1b1b377c787227b204af6981e8f41bbef3
        with:
          paths: "**/TEST-*.xml"
          show: "fail"
        if: always()
        
  # Exists to check long-running goals, such as docs.
  # Tests are skipped as there is plenty of CI that runs them.
  java_full:
    name: "Java Solver (with flag -Dfull, no tests)"
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'temurin'
          cache: 'maven'

      - name: Build timefold-solver using flag -Dfull
        run: ./mvnw -DskipTests -Dfull -B verify

  native:
    name: "Native Image"
    concurrency:
      group: pull_request_native-${{ github.event_name }}-${{ github.head_ref }}-${{matrix.os}}-${{ matrix.module }}-${{ matrix.java-version }}
      cancel-in-progress: true
    runs-on: ${{matrix.os}}
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-24.04-arm ] # Windows doesn't work, Mac is not a deploy OS.
        module: ["spring-integration", "quarkus-integration"]
        java-version: [ 17, 21, 25 ] # LTS + latest.
        exclude:
          # Quarkus 3.17.2 has weird issues with Java 17 GraalVM,
          # with Java 21+ GraalVM being recommended even for
          # Java 17 projects.
          # https://github.com/quarkusio/quarkus/issues/44877
          - module: "quarkus-integration"
            java-version: 17
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v6

      - uses: graalvm/setup-graalvm@54b4f5a65c1a84b2fdfdc2078fe43df32819e4b1 # v1
        with:
          java-version: ${{matrix.java-version}}
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'

      - name: Quickly build timefold-solver
        run: ./mvnw -B -Dquickly clean install

      - name: Test timefold-solver in Native mode
        run: |
          cd ${{matrix.module}}
          ../mvnw -B -Dnative verify

      - name: Test Summary
        uses: test-summary/action@2920bc1b1b377c787227b204af6981e8f41bbef3
        with:
          paths: "**/TEST-*.xml"
          show: "fail"
        if: always()
